{% extends 'about/base.html' %}
{% load static %}


{% block metafollow %}
<meta name="robots" content="noindex, nofollow">
{% endblock metafollow %}

{% block tilte %}Reset Password{% endblock tilte %}


{% block style %}
<link rel="stylesheet" href="{% static 'users/css/login.css' %}">
<link rel="stylesheet" href="{% static 'users/css/password_reset.css' %}">
{% endblock style %}
    
{% block content %}
    <div class="container col-1">
        <img src="{% static 'users/imgs/forgot.svg'%}" alt="">    
        {% if user.is_authenticated %}
            <h2>You are Logged in.</h2>
            {% else %}
            <div class="form-container">
                    <h1>RESET PASSWORD</h1>
                    <form method='POST' class="form-register">{% csrf_token %}
                            {{form.as_p}}
                            <input type="submit" value="Request Password Reset">
                    </form>
            </div>
            {% endif %}
    </div>
{% endblock %}