{% extends 'about/base.html' %}
{% load static %}


{% block metafollow %}
<meta name="robots" content="noindex, nofollow">
{% endblock metafollow %}

{% block tilte %}Reset Password{% endblock tilte %}

{% block style %}
<link rel="stylesheet" href="{% static 'users/css/login.css' %}">
<link rel="stylesheet" href="{% static 'users/css/password_reset_done.css' %}">
{% endblock style %}
    
{% block content %}
<div class="container col-1">
    <img src="{% static 'users/imgs/reset-done.svg'%}" alt="">
    <h2>Your password has been reset. <br>    
        <span>Click here to <a href="{% url 'login' %}">Login.</a></span>
    </h2>
</div>
{% endblock %}