{% extends 'about/base.html' %}
{% load static %}


{% block metafollow %}
<meta name="robots" content="index, follow">
{% endblock metafollow %}
        
{% block tilte %}About{% endblock tilte %}

{% block style %}
<link rel="stylesheet" href="{% static 'about/css/about.css' %}">          
{% endblock style %}

{% block content %}
        <section class="hero">
        <div class="container col-2">
                <article>
                        <p id="hello">Hello!</p>
                        <h1>I am Deepanshu.</h1>
                        <h2>The founder of <a href="{% url 'home' %}">HealthillcFitness.com</a> </h2>
                        <p>Before I got into the fitness lifestyle I used to live an extremely unhealthy lifestyle. 
                                I was fat and a target for most of the people who wants to taunt about being unhealthy.</p>
                        <p>Now, being into this fitness lifestyle for quite a few years I know how to live a 
                                healthy lifestyle <span>(Of course with or without gym)</span> and I help people with their goals by 
                                providing clear and precise knowledge of fitness by filtering out common myths and beliefs.</p>
                        <blockquote>
                                “I believe in educating people about fitness,
                                        make them aware of their own potential and help them transform”<br>
                        </blockquote>
                        <p>
                        Do you think my journey was easy?<br>
                        Here you go and then decide that was it easy?     
                        </p>                                                                
                </article>
                <div class="main-pic">
                        <img src="{% static 'about/imgs/mainpic-1.jpg' %}" alt="">
                </div>

        </div>
        </section>
        <section class="container-small journey">
        <h2>MY JOURNEY</h2>
        <div>
                <p>
                A lot of people have different motivation and purpose to change themselves as one might want to look big just to impress someone or just to be strong.
                But,
                Initially, when I decided to change, my motivation was just to prove everyone who taunted me that I can change too.
                I just wanted to change <span>(No, I never thought of getting six-pack abs)</span>.
                </p>
                <p>
                So, I was this guy who was quite unhealthy as you can see.<br>
                <span class="highlight">I was extremely overweight as I was in above 90kgs in this picture.</span>   
                </p>   
        </div>

        <div class="journey-img">
                <img src="{% static 'about/imgs/fat1.jpg' %}" alt="">
        </div>
        <div>
                <p>
                I was frustrated with being fat and constant taunts from all except my parents(because obviously, they do love you no matter how you look).
                So, at last, I decided to change myself and I was completely aimless as I just wanted to lose fat.                
                </p>
                <p>
                My school used to finish at 2:30 pm and at 4 pm I used to go to tuitions and guess what? I started going for running in a park near 
                my tuition before my classes begin just after having a very small lunch <span>(as I thought eating less is the only way to achieve this)</span>.
                This was my hectic schedule but still, it was of no use!<br>
                Then I bought this for my home:<br>
                </p>
                
        </div>

        <div class="journey-img">
                <img src="{% static 'about/imgs/treadmill-01.svg' %}" alt="">
        </div>
        <div>
                <p>
                Yes! A treadmill.<br>
                But let me tell you even though I worked out daily on this machine I never got any significant results.
                So, at last, I joined a gym where I worked out for 3 months and then left the gym.
                After 1 year I again joined the gym with unbreakable will power!<br><br>
                Started hitting weights and<span class="highlight"> the results were slow but definitely, it didn’t demotivate me. </span>
                I used to leave for college at 6:30 am with all my meals in my backpack and I used to come back home around 5:30 pm 
                from where I used to go gym directly without any rest! When all of my friends were relaxing I was working hard.
                </p>
                <p>
                Many people demotivated me in my path and because of that, I started becoming more stronger towards my goal.
                That year was the worst test of my mental and physical ability.
                But at last, I got what I wanted from so many years i.e I was lean now 
                But wait!<br>
                After I was lean I again gained back what I had lost just because of my habits.<br>
                <span class="highlight">So I was again fat!</span>        
                </p>
                
        </div>

        <div class="journey-img">
                <img src="{% static 'about/imgs/fat.jpg' %}" alt="">
        </div>
        <div>
                <p>
                Now since I already knew what I have to do to lose fat I again lost the same amount of fat again in 3 months! Yes, just 3 months!
                I was at my lowest weight ever!
                </p>
        </div>
        <div class="journey-img">
                <img src="{% static 'about/imgs/side.jpg' %}" alt="">
        </div>
        <div>
                Now I had experience as well as knowledge so I started my bulk again with the aim of getting a good amount of muscles.
                At last, I was able to get a good amount of muscles on my body and strength.   
        </div>
        <div class="journey-img">
                <img src="{% static 'about/imgs/front.jpg' %}" alt="">
        </div>
        <div>
                <p>
                Obviously, I now have different and much bigger goals for my physique as I want to keep on improving myself.
                I sincerely thank all those who never left me and kept me motivated throughout the journey.                
                </p>
                <p>
                I don’t do any cheat meal other than on my birthdays or vacation and that adds to maybe twice or thrice a year! Even I don’t know how I changed myself so much.
                <br><br>
                But due to this journey, I realized I have a much bigger goal than just improving myself and i.e to help people change themselves through my experiences.
                <span>
                (those who have been through this knows what
                 it takes to achieve something that not much people try to think of).
                </span>             
                </p>
        </div>
        <div class="journey-img">
                <img src="{% static 'about/imgs/back.jpg' %}" alt="">
        </div>
        <div>
                <p>
                I thought to get in and out information on how our body and nutrition works which can definitely compliment my experience of real-life training. 
                Thus, I got myself internationally accredited in fitness and nutrition.<span class="highlight"> I am an advance diploma holder in fitness and diploma holder in nutrition.</span>
                </p>
                <p>
                Many people go to the gym and eventually give up on their goals due to lack of guidance and knowledge.
                I always feel blessed when someone approaches me for personal coaching.
                </p>
                <p>
                I don’t work like most of the personal trainers or coaches who just provides software generated plans and the false 
                hope of miraculous transformation within a small period of time with an aim to get huge profits.
                Not all people can afford such expensive online coaching programs thus I provide one that is not compromised on 
                the quality and hard work put into making each of it. 
                <br>
                <br>
                It is the one that almost all people can afford and not let money be the reason to not change.
                Remember when you will change yourself I will be the happiest guy after you.
                <br><br>
                </p>
                
        <blockquote>
                TWO OPTIONS ARE GIVEN TO YOU – HARD WORK OR EXCUSE! <br>
                I CHOSE HARD WORK WHAT WILL YOU?
        </blockquote>        
        </div>
        <div class="journey-img-large">
        </div>
</section>
 
{% endblock %}