{% extends 'about/base.html' %}
{% load static %}

{% block metafollow %}
<meta name="robots" content="index, follow">
{% endblock metafollow %}

{% block title %}
    Privacy and Refund Policy
{% endblock title %}
    

{% block style %}
<link rel="stylesheet" href="{% static 'about/css/tnc.css' %}">          
{% endblock style %}

  {% block content %}
  <div class="tnc"><div class="container">

      <h2>Privacy Policy</h2>
      <p>This website, healthillcfitness, respects your right to privacy and maintaining your privacy is very important to us. We will not sell your email address to anyone, and your personal identity will not be associated with the address. This privacy notice discloses the privacy practices for healthillcfitness. This privacy notice applies solely to information collected by this website.
        </p>
      <p>
          We are the sole owners of all information collected, used, and shared on the site. We only have access to information collected that you voluntarily give us via email or another direct contact from you. We will not sell or rent this information to anyone. We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party entity outside of our organization, other than as necessary to fulfill your request.
      </p>
    <h3>  Changes to Terms of Service
    </h3>
      <p>
        Prices for products, digital services, etc., or any kind of service offered on healthillcfitness is subject to change without notice. We reserve the right at any time to modify or discontinue the service (or any part of content thereof) without notice at any time. We are not liable to you or to any third-party for any modification, price change, suspension or discontinuance of the service.
      </p>
      <p>  We reserve the right, at our sole discretion, to update, change or replace any part of these Terms of Service.
      </p>
    <h3>  Registration as a Client
    </h3>
      <p>  
        For the purposes of registration as a client with healthillcfitness, you agree to 1) provide true, accurate, current and complete information about yourself filled in a registration form, and; 2) maintain and promptly update the information you provide to keep it true, accurate, current and complete.
      </p>
      <p>  
        Any Personal Plan will have been prepared on the basis of information provided by you. You are responsible for the accuracy of any information that you provide to us. You are responsible for informing us of any health issues or medical conditions when asking us to prepare a Personal Plan.
      </p>
    <h3>  Intellectual Property Rights</h3>
      <p>
        The content on the website, except all user submissions (as defined above), including without limitation, video, auditory (sounds), text, imagery, scripts, files, graphics, photos, (defined as “content”) and the branding, trademarks, are owned by or licensed to healthillcfitness, subject to copyright and other intellectual property rights.
      </p>
      <p>
        Content on the website is provided to you for your information and personal use only and may not be used, copied, reproduced, distributed, transmitted, broadcast, displayed, sold, licensed, or otherwise exploited for any other purposes whatsoever without the prior written consent of healthillcfitness. We reserve all rights not expressly granted in and to the website and all content.
      </p>
      <p>
          You agree to not engage in the use, copying, or distribution of any of the content other than expressly permitted herein, including any use, copying, or distribution of user submissions of third parties obtained through the website for any commercial purposes.
      </p>
      <h3>  Returns and Refunds</h3>
      <p>By registering as a client, you agree to pay for your entire coaching term in one lump sum. Absolutely no refunds will be made after your payment has cleared. Once this purchase is made, it is non-refundable and non-transferable. By placing this order, you indicate that you have read this refund policy and that you agree, and accept, the terms of this refund policy.
        </p>
      </div></div>
  {% endblock content %}
      