{% extends 'about/base.html' %}
{% load static %}


{% block metafollow %}
<meta name="robots" content="index, follow">
{% endblock metafollow %}

{% block title %}
    Terms and Conditions
{% endblock title %}
    

{% block style %}
<link rel="stylesheet" href="{% static 'about/css/tnc.css' %}">
{% endblock style %}


  
  {% block content %}
 <div class="tnc">
        <div class="container">
                <h2>Terms and Conditions</h2>
                <h3>Medical Disclaimer</h3>
                  <p>The website healthillcfitness.com is strictly health and fitness coaching. All content, including text, graphics, images and information contained on or available through this website is for general information purposes only.
                  </p>
                  <p>Please check with your local physician before starting any training and exercise routine. By utilizing services from healthillcfitness.com, you agree and understand that all advice, tips, and information you read are done so at the user's own risk. By utilizing services from healthillcfitness, you understand that you should always consult your physician before beginning any exercise program. This general information is not intended to diagnose any medical condition or to replace your healthcare professional. Consult with your doctor to design an appropriate exercise prescription. If you experience any pain or difficulty with any exercises, discontinue immediately and consult your physician.
                      </p>
                  <p>Before taking any action in relation to a Personal Plan, you must take into account any other factors apart from the Personal Plan of which you are or ought to be aware.
                      </p>
                  <p>For example, we always recommend that you seek professional medical advice before embarking on any exercise programme. Your decisions to engage in any exercise programme should take into account any medical or other professional advice that it available to you as well as using your own personal judgment as to what activity is safe for you to engage in.
                      </p>
                  <p>The information set out in any Personal Plan may relate to certain contexts and may not be suitable in other contexts. It is your responsibility to ensure that you do not use the information we provide in the wrong context.
                      </p>
                  <p>For example, where a program was tailored for a woman who was not pregnant, this would not be appropriate for her to use after becoming pregnant.
                      </p> 
                  <h3>When to Contact Your Physician</h3>
                  <p>You should contact a physician if you experience any symptoms of weakness, unsteadiness, lightheadedness or dizziness, chest pain or pressure, nausea, or shortness of breath. Muscle soreness after exercise may be experienced after beginning a new exercise or program. Contact your physician if soreness does not cease after 4-5 days.
                      </p>
                  <h3>Coaching</h3>
                  <p>I am not responsible for anything that may happen while you work out or follow prescribed macronutrients. All sales are final — there are no refunds if you are not satisfied by the workout or any other service offered. The workouts and macronutrients given are designed for private use only, and shall not be published in any way. All macronutrient-based coaching is based on my experience and knowledge I have got from my Internationally accredited diploma in nutrition. The workout plans I give are based on my experience and knowledge I have got from my Internationally accredited advanced diploma in fitness. By sending me an inquiry for coaching, you certify your acceptance and acknowledgment of these terms.
                  </p>
                  <h3>EXPECTED RESULTS:</h3>
                  <p>While we believe that for most people, following our programmes and methods will lead to desired results, all exercise programs depend on the individual. The result will be affected by the effort and commitment of the individual, however, in some circumstances even where an individual follows our program, they may not achieve the desired results. We, therefore, provide no warranties of any kind, express or implied, as to:
                          the effectiveness of any techniques, diets or programmes that we deliver; or
                          the results that you may achieve as a result of following our programs.
                  </p> 
                  <h3>Availability</h3>
                  <p>Although we aim to offer you the best service possible, we make no promise that the Website will meet your requirements. We cannot guarantee that the Website will be fault-free. If a fault occurs with the Website you should report it to us at our mentioned email address for contact purpose and we will attempt to correct the fault as soon as we reasonably can.
                  </p>
                  <p>    Your access to the Website may be occasionally restricted or interrupted to allow for repairs, maintenance or the introduction of new facilities or services or because we are unable to offer the Website for reasons beyond our control (such as a denial of service attack). In this event, we will attempt to restore the service as soon as we reasonably can. Any such restrictions or interruptions shall not constitute a breach by us of these terms.
                      </p>
            </div>
 </div>
  {% endblock content %}
      