img{
    padding-top: 7rem;
    height: 15rem;
    padding-bottom: 1rem;
}
.container h2{
    font-size: 2rem;
}
footer{
    position: fixed;
    bottom: 0;
}

h2 span{
    font-size:1.5rem;
}
h2 span a{
    color: #02b76f;
}
@media (max-width: 425px) {
    img{
        height: 10rem;
    }
    .container h2{
        font-size: 1.75rem;
    }
}
